@import "../../../../styles";

.spacer {
  flex: 1 1 auto;
}

.button-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  color: $primary-color50;
}

.nav-buttons {
  display: flex;
  align-items: stretch;
  align-content: center;
}

.vertical-divider-wrapper {
  display: flex;
  align-items: center;
}

.vertical-divider {
  height: 1em;
  width: 1px;
  background-color: $primary-color50;
}

button {
  color: $primary-color50;
}

.shopping-cart-button {
  margin-right: 0.7rem;
}

::ng-deep .mat-badge-content {
  background: red !important;
  color: white !important;
  font-family: Arial;
  font-size: 1rem;
}

.menu-button {
  color: $primary-color;
}
