@import "../../../../styles";

.spacer {
  flex: 1 1 auto;
}

.button-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.title {
  //font-weight: bold;
  //font-style: italic;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  color: $primary-color100;
}

.nav-buttons {
  /*height: 2em;*/
  display: flex;
  align-items: stretch;
  align-content: center;
}

/*.nav-btn:hover {*/
/*  border: 1px solid #7790fa;*/
/*}*/

.vertical-divider-wrapper {
  display: flex;
  align-items: center;
}

.vertical-divider {
  height: 1em;
  width: 1px;
  background-color: white;
}
