<header>

  <mat-toolbar color="primary">

    <!-- MENU ICON -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- MENU -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'certificates'" class="menu-button">
        <mat-icon color="primary">card_giftcard</mat-icon>
        Gift certificates
      </button>

      <button mat-menu-item [routerLink]="'tags'" class="menu-button">
        <mat-icon color="primary">sell</mat-icon>
        Tags
      </button>

      <div *ngIf="isAuthenticated">

        <button mat-menu-item [routerLink]="'orders'" class="menu-button">
          <mat-icon color="primary">credit_card</mat-icon>
          Orders
        </button>

        <button mat-menu-item [routerLink]="'users'" class="menu-button">
          <mat-icon color="primary">people</mat-icon>
          Users
        </button>

        <hr>

        <button mat-menu-item [routerLink]="'orders/user'" class="menu-button">
          <mat-icon color="primary">credit_card</mat-icon>
          My orders
        </button>

        <button mat-menu-item [routerLink]="'shopping-cart'" class="menu-button">
          <mat-icon color="primary">shopping_cart</mat-icon>
          Shopping cart
        </button>
      </div>
    </mat-menu>

    <!-- LOGO -->
    <button mat-flat-button color="primary" routerLink="">
      <div class="button-logo">
        <img class="logo" ngSrc="../../../../assets/cert-logo.png" alt="cert-logo.png" height="30" width="30">
        <span class="title">Gift Certificates App</span>
      </div>
    </button>

    <span class="spacer"></span>

    <!-- NAVIGATION -->
    <button mat-icon-button aria-label="Search" [routerLink]="'certificates/search'">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button aria-label="Shopping cart" [routerLink]="'shopping-cart'" class="shopping-cart-button">
      <mat-icon matBadge="{{shoppingCardSize}}" matBadgeHidden="{{shoppingCardSize === 0}}">
        shopping_cart
      </mat-icon>
    </button>

    <div class="nav-buttons">
      <button *ngIf="!isAuthenticated" mat-flat-button color="primary" [routerLink]="'auth/login'">Login</button>
      <button *ngIf="isAuthenticated" mat-flat-button color="primary" [routerLink]="'auth/profile'">
        <mat-icon color="accent">person</mat-icon>
        {{username}}
      </button>

      <div class="vertical-divider-wrapper">
        <div class="vertical-divider"></div>
      </div>

      <button *ngIf="!isAuthenticated" mat-flat-button color="primary" [routerLink]="'auth/register'">Sign Up</button>
      <button *ngIf="isAuthenticated" mat-flat-button color="primary" [routerLink]="'auth/logout'">Logout</button>
    </div>

  </mat-toolbar>

</header>
