@import "../../../../../styles";

main {
  min-height: unset;
  min-width: 30rem;
}

.wrapper {
  padding: 0px;
  margin: 0px;
}

.mat-mdc-header-cell, .mat-paginator {
  background-color: $primary-color100;
}

.mat-mdc-cell {
  cursor: pointer;
}
