<main>

  <div class="title">
    <div class="title1">GIFT</div>
    <div class="title2">CERTIFICATES</div>
  </div>

  <div class="welcome-text">
    Gift certificates are a great marketing tool and an easy way to promote your business, organization, or cause.
    This app puts the power of creativity in your hands so you can let loose and buy your gift certificate the
    way you like. Best of all, this app is free to use and easy to master, so you can always get the perfect gift
    certificate made every time, quick and stress-free.
  </div>
  <button mat-raised-button class="button-search" [routerLink]="'/certificates/search'">
    Get started now!
  </button>

</main>
