@import "../../../../styles";

main {
  min-height: 62vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary-color100;
  padding: 10em;
  align-items: center;
}


.title {
  display: flex;
  font-size: 8vw;
  font-family: Arial !important;
}

.title1 {
  color: white;
}

.title2 {
  color: $primary-color700;
}

.welcome-text {
  padding: 2rem 0;
  font-size: 1.4rem;
  color: $primary-color900;
  display: flex;
  text-align: justify;
}

.button-search {
  height: 5rem !important;
  width: 20rem !important;
  color: $primary-color50;
  font-size: 1.5rem;
  background-color: $primary-color600;
}
