@import "../../../../../styles";

main {
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  //font-size: 1rem;
  min-height: 2rem;
  width: 18rem;
}

h2 {
  color: $primary-color;
}
