@import "../../../../styles";

footer {
  height: 2em;
  width: 100vi;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  color: $primary-color50;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  padding: 0;
  font-size: 1em;
}
