@import "../../../../styles";

.mat-dialog-title {
  //background-color: $primary-color100;
  color: $primary-color !important;
  font-weight: bold !important;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 1em !important;
  font-weight: bold;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  background-color: $primary-color100;
}

#submit {
  background-color: $error-color;
  color: white !important;
}

button {
  width: 10em;
}
