<main class="wrapper">

  <!-- HEADER -->
  <div class="header">
    <div class="title" [routerLink]="'/tags'">
      Orders
    </div>

    <button mat-raised-button class="button-create" (click)="create()">
      <mat-icon>add_circle</mat-icon>
      Add
    </button>
  </div>

  <!-- TABLE -->
  <div class="mat-elevation-z3">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Certificate Column -->
      <ng-container matColumnDef="certificate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Certificate</th>
        <td mat-cell *matCellDef="let row"> {{row.certificate.name}} </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
        <td mat-cell *matCellDef="let row"> {{row.user.name}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let row"> {{row.price}} </td>
      </ng-container>

      <!-- CreateDate Column -->
      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Create date</th>
        <td mat-cell *matCellDef="let row"> {{row.createDate | date: 'short'}} </td>
      </ng-container>

      <!-- LastUpdateDate Column -->
      <ng-container matColumnDef="lastUpdateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>last update date</th>
        <td mat-cell *matCellDef="let row"> {{row.lastUpdateDate | date: 'short'}} </td>
      </ng-container>

      <!-- Action buttons Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">

          <div class="buttons">

            <button mat-button class="button-details" (click)="edit(row.id)">
              <mat-icon>description</mat-icon>
              Edit
            </button>

            <span class="spacer"></span>

            <button mat-button class="button-delete" (click)="delete(row.id)">
              <mat-icon>delete</mat-icon>
              Delete
            </button>

          </div>

        </td>
      </ng-container>

      <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>

    <!-- PAGINATOR -->
    <mat-paginator class="mat-paginator"
                   [length]="totalElements"
                   [pageIndex]="number"
                   [pageSizeOptions]="[10, 20, 50]"
                   [showFirstLastButtons]="true"
                   (page)="pageEvent = getServerData($event)"
                   aria-label="Select page of tags">
    </mat-paginator>

  </div>

  <!-- MESSAGES -->
  <div id="info-message" *ngIf="infoMessage">
    {{infoMessage}}
  </div>
  <div id="error-message" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

</main>
