@import "../../../../../styles";

main {
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//.login-wrapper {
//  height: 24em;
//  width: 25em;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  padding: 3em;
//}

.logo {
  //height: 4em;
}

//.logo-wrapper {
//  height: 4em;
//  width: 4em;
//  position: relative;
//  top: -1.8em;
//  display: flex;
//  font-size: 3em;
//  border-radius: 6em;
//  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.10), 0 7px 10px rgba(0, 0, 0, 0.22);
//}

//.form-login {
//  position: relative;
//  top: -3.5em;
//  display: flex;
//  flex-direction: column;
//  gap: 0.4em;
//}

mat-form-field {
  width: 18rem;
}

button {
  width: 18rem;
  display: flex;
  justify-content: center;
}

mat-card-footer {
  display: flex;
  justify-content: center;
}
